:root {
    //Шрифти, що використовуються на сайті
    --main-font: 'Open Sans', Open Sans, sans-serif; /*головний шрифт для більшої частини тексту*/
    --heading-font: 'Raleway', Raleway, sans-serif; /*шрифт для заголовків */
    //Кольорова схема тексту різних текстових блоків
    --accent-color: #ff6c00; //Колір, який використовується при ховері
    --title-text-color: #303030; // текст заголовків та андертайтлу для та деяких інших елементів білого фону
    --title-text-color-dark-theme: #ffffff; //текст для заголовків на темному фоні та хедера
    --undertitle-color-dark-theme: rgba(157, 164, 189, 0.6); // текст для андертайтлу на темному фоні
    --description-text: #555555; // Текст абаців та інших елементів з описом та деякою іншою інформацією на світлому фоні
    --description-text-dark-theme: #9da4bd; // Текст абаців та інших елементів з описом та деякою іншою інформацією на темному фоні
    --social-list-link-backgr: #ffffff; //колір фону елементівдля списку посилань на соціальні мережі
    //Кольорова схема заливок блоків
    --additional-background-first: #191c26; // Вторинний фон секцій фон секцій 
    --additional-background-cecond: #f7f7f7; // Допоміжний фон секцій

    
}
